@font-face {
  font-family: 'Outfit';
  src: url('/resources/fonts/Outfit-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  background-color: black;
  font-family: 'Outfit', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

p {
  font-size: 1.2rem;
}

h1, h2 {
  font-weight: 900;
}

p a {
  color: white;
}

.outfit-bold {
  font-weight: 600;
}

/* Bootstrap customizations */
.navbar {
  padding: 0;
  border-bottom: 1px solid rgb(110, 110, 110);
  background-color: black;
}

.navbar-brand {
  padding: 0
}

.navbar-nav .dropdown-menu {
  position: absolute !important;
}

#lang-mobile {
  margin-bottom: 0.5rem;
}

.navbar-toggler {
  border: none !important;
}

.max-page-width {
  max-width: 1700px;
}

#main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#threejs-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

#threejs-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, black, transparent);
}

.home-title {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: 8rem 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dictionary-entry {
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}

.dictionary-entry h2 {
  font-size: 1.8rem;
  margin-bottom: 0.3rem;
}

.dictionary-entry .phonetic {
  color: #888;
  font-family: monospace;
  font-size: 1.1rem;
}

.dictionary-entry .definition {
  margin-top: 1rem;
}

.dictionary-entry .part-of-speech {
  font-style: italic;
  color: #aaa;
  display: block;
  margin-bottom: 0.5rem;
}

.dictionary-entry .meaning {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 0.5rem;
}

.dictionary-entry .source {
  color: #888;
  font-size: 0.9rem;
  font-style: italic;
  margin-top: 1rem;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.content-block {
  width: 100%;
  padding: 1rem;
  color: white;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  width: 100%;
  min-height: 400px;
  padding: 1rem;
  gap: 3rem;
  border-radius: 1.5rem;
  background: linear-gradient(to bottom right, rgb(45, 45, 45), rgb(21, 21, 21)) no-repeat;
}

.content .left {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img.image-rounded {
  border-radius: 2rem;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 900px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-center-gap {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  padding-right: 0;
}

.timeline::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-top: 4px solid #1b3a53;
  border-right: 4px solid #1b3a53;
  transform: rotate(-45deg);
  top: 0px;
  left: -7px;
  z-index: 2;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background: linear-gradient(to bottom, #1b3a53, #442f26);
  top: 0;
  bottom: 0;
  left: -10px;
  margin-left: 9px;
}

.timeline-item {
  position: relative;
  margin: 40px 0;
}

.timeline-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.timeline-role {
  color: #1a3a52;
  font-size: 1.1rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.timeline-date {
  font-size: 0.9em;
  color: #666;
  margin: 5px 0 10px 0;
  font-style: italic
}

.timeline-content {
  background: #f8f9fa;
  border-radius: 6px;
  padding: 20px;
  position: relative;
}

.timeline-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.timeline-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.timeline-link {
  background: linear-gradient(45deg, #1b3a53, #442f26);
  border: 1px solid #3d3d3d;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 0.9rem;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.timeline-link:hover {
  background: linear-gradient(45deg, #284b68, #50362b);
  border-color: #4d4d4d;
  color: white;
}

.timeline-content::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: #333;
  border-radius: 50%;
  left: -29px;
  top: 24px;
  border: 2px solid white;
  z-index: 999;
}

.timeline-content h3 {
  margin: 0 0 10px 0;
  color: #333;
}

.timeline-content p {
  margin: 0;
  color: #666;
}

#email-text:after {
  content: '@spatiality.nl';
}

footer {
  border-top: 1px solid rgb(110, 110, 110);
  background-color: black;
}

footer .footer-info {
  padding: 1rem;
  color: rgb(175, 175, 175);
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  /* Hidden by default */
  background-color: #363636;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
}

.back-to-top:hover {
  background-color: #222222;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}

.skill-tag {
  background: linear-gradient(45deg, #2d2d2d, #1a1a1a);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 1px solid #3d3d3d;
  color: white;
  font-size: 0.9rem;
}

.custom-button {
  background: linear-gradient(45deg, #1b3a53, #442f26);
  border: 1px solid #3d3d3d;
  color: white;
  padding: 0.7rem 1.2rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
  text-decoration: none;
}

.custom-button:hover {
  background: linear-gradient(45deg, #284b68, #50362b);
  border-color: #4d4d4d;
}

/* Terms page */
.page-content {
  min-height: 60vh;
  color: white;
}

/* Responsiveness */
.sm-block {
  display: none;
}

.lg-flex-nowrap {
  flex-wrap: wrap;
}

/* 
@media screen and (max-width: 768px) {
  .timeline-item {
    padding-left: 30px;
  }
  
  .timeline-content::before {
    left: -21px;
  }
  
  .timeline::after {
    margin-left: 9px;
  }
} */

/* sm */
@media (min-width: 576px) {
  .sm-block {
    display: block;
  }
  .content {
    padding: 2rem;
  }
  .content-block {
    padding: 2rem;
  }
  .timeline::after {
    left: 0;
  }
  .timeline::before {
    left: 3px;
  }
  .timeline-item {
    padding-left: 20px;
  }
  .timeline {
    padding: 20px;
  }
  .timeline-content::before {
    left: -39px;
  }
}

/* lg */
@media (min-width: 992px) {
  .lg-flex-nowrap {
    flex-wrap: nowrap;
  }
  .home-title {
    width: 67%;
  }
  .dictionary-entry {
    width: 67%;
  }
}
