body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
}

.text-box {
  margin: auto;
  text-align: center;
  color: white;
}

.title {
  font-size: 48px;
  font-family: Quantico, sans-serif;
  font-weight: bold;
  margin-bottom: -0.8rem;
}

.subtitle {
  font-size: 24px;
  font-family: 'Segoe UI', sans-serif;
}

.contact {
  margin-top: 1rem;
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.kvk {
  font-size: 24px;
}

.email {
  cursor: pointer;
}

.email:after {
  content: '@spatiality.nl';
}