@font-face {
  font-family: 'Outfit';
  src: url('/resources/fonts/Outfit-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  background-color: black;
  font-family: 'Outfit', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.outfit-bold {
  font-weight: 600;
}

/* Bootstrap customizations */
.navbar {
  padding: 0;
  border-bottom: 1px solid rgb(110, 110, 110);
  background-color: black;
}

.navbar-brand {
  padding: 0
}

#main {
  position: relative;
}

#threejs-container {
  height: 100vh;
  position: relative;
}

#threejs-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, black, transparent);
}

.home-title {
  position: absolute; 
  top: 0;
  width: 67%;
  height: 400px;
  padding: 8rem 2rem;
  color: white;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.content-block {
  width: 100%;
  padding: 2rem;
  color: white;
}

.content {
  min-height: 400px;
  padding: 2rem;
  border-radius: 1.5rem;
  background: linear-gradient(to bottom right, rgb(45, 45, 45), rgb(21, 21, 21)) no-repeat;
  display: grid;
  grid-template-columns: 1fr 2fr; 
}

.content .left {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img.image-rounded {
  border-radius: 2rem;
  width: 400px;
  height: 400px;
  object-fit: cover;
}


#email {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

#email-text:after {
  content: '@spatiality.nl';
}

footer {
  border-top: 1px solid rgb(110, 110, 110);
  background-color: black;
}

footer .footer-info {
  padding: 1rem;
  color: rgb(175, 175, 175);
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; /* Hidden by default */
  background-color: #363636;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
}

.back-to-top:hover {
  background-color: #222222;
}