@font-face {
  font-family: 'Outfit';
  src: url('/resources/fonts/Outfit-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  background-color: black;
  font-family: 'Outfit', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

p {
  font-size: 1.3rem;
}

.outfit-bold {
  font-weight: 600;
}

/* Bootstrap customizations */
.navbar {
  padding: 0;
  border-bottom: 1px solid rgb(110, 110, 110);
  background-color: black;
}

.navbar-brand {
  padding: 0
}

.max-page-width {
  max-width: 1700px;
}

#main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#threejs-container {
  height: 100vh;
  position: relative;
}

#threejs-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, black, transparent);
}

.home-title {
  position: absolute;
  top: 0;
  width: 67%;
  height: 400px;
  padding: 8rem 2rem;
  color: white;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.content-block {
  width: 100%;
  padding: 2rem;
  color: white;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  width: 100%;
  min-height: 400px;
  padding: 2rem;
  gap: 3rem;
  border-radius: 1.5rem;
  background: linear-gradient(to bottom right, rgb(45, 45, 45), rgb(21, 21, 21)) no-repeat;
}

.content .left {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img.image-rounded {
  border-radius: 2rem;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}


.flex-center-gap {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

#email-text:after {
  content: '@spatiality.nl';
}

footer {
  border-top: 1px solid rgb(110, 110, 110);
  background-color: black;
}

footer .footer-info {
  padding: 1rem;
  color: rgb(175, 175, 175);
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  /* Hidden by default */
  background-color: #363636;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
}

.back-to-top:hover {
  background-color: #222222;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}

.skill-tag {
  background: linear-gradient(45deg, #2d2d2d, #1a1a1a);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 1px solid #3d3d3d;
  color: white;
  font-size: 1.1rem;
}

/* Responsiveness */
.sm-block {
  display: none;
}

.lg-flex-nowrap {
  flex-wrap: wrap;
}

/* sm */
@media (min-width: 576px) {
  .sm-block {
    display: block;
  }

}

/* lg */
@media (min-width: 992px) {
  .lg-flex-nowrap {
    flex-wrap: nowrap;
  }
}
